<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PHP-программист</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css">
</head>
<body>
    <header class="header header_museum">
        <span class="header_title">WEB-приложение на Django</span>
        <ul class="left-list list list-reset">
            <li class="list_item"><a href="/programmer/">Главная страница</a></li>
            <li class="list_item"><a href="demand/">Востребованность</a></li>
            <li class="list_item"><a href="geography/">География</a></li>
            <li class="list_item"><a href="skills/">Навыки</a></li>
            <li class="list_item"><a href="latest_vacancies/">Последние вакансии</a></li>
        </ul>
    </header>
    <main class="main">
        <section class="hero">
            <form method="post" class="container hero_container">
                <h1 class="title">{{ аа }}PHP-программист</h1>
                <div class="hero_content">
                    <div class="hero_text">
                        <p class="hero_p">
                            PHP-разработчик – это специалист,
                            который пишет код на языке программирования,
                            предназначенном для разработки сайтов и веб-приложений.
                        </p>
                        <p class="hero_p">
                            PHP остается популярным с 1995 года, так как его легко освоить,
                            с его помощью можно реализовать на сайте разнообразные сценарии,
                            интегрировать сайт с внешними ресурсами, например бизнес-системами
                            и базами данных. Опытный веб-программист на PHP может
                            в любой момент дописать код для элемента уже готового сайта.
                        </p>
                        <p class="hero_p">
                            <b>О профессии программиста на PHP говорят,
                            как об одной из самых востребованных в IT.</b>
                            Область деятельности специалиста – <a class="hero-link" href="#backend">backend</a>, то есть та часть разработки,
                            которая скрыта от пользователей и находится на сервере.
                            Простыми словами, он занимается обеспечением функционала сайта,
                            пишет его программную основу. Веб-программист на РНР может работать
                            во <a class="hero-link" href="#frontend">frontend</a>
                            или перейти в <a class="hero-link" href="#fullstack">fullstack</a>
                            - ниже разберемся, что входит в обязанности специалиста.
                        </p>
                    </div>
                    <div class="hero_img">
                        <img src='{% static "images/код.webp" %}' alt="">
                    </div>
                </div>
                <span id="backend"></span>
            </form>
        </section>

        <section class="backend">
            <div class="container">
                <h2>Что делает backend-разработчик</h2>
                    <p class="hero_p">
                        Backend-разработчик на PHP – это программист, который:
                    </p>
                    <ul class="hero_list list-reset">
                        <li class="hero_list_item">
                            <svg width="15px" height="15px" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M0.877075 7.49991C0.877075 3.84222 3.84222 0.877075 7.49991 0.877075C11.1576 0.877075 14.1227 3.84222 14.1227 7.49991C14.1227 11.1576 11.1576 14.1227 7.49991 14.1227C3.84222 14.1227 0.877075 11.1576 0.877075 7.49991ZM7.49991 1.82708C4.36689 1.82708 1.82708 4.36689 1.82708 7.49991C1.82708 10.6329 4.36689 13.1727 7.49991 13.1727C10.6329 13.1727 13.1727 10.6329 13.1727 7.49991C13.1727 4.36689 10.6329 1.82708 7.49991 1.82708Z"
                                />
                            </svg>
                            пишет скрипты для каждого элемента веб-страницы;</li>
                        <li class="hero_list_item">
                            <svg width="15px" height="15px" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M0.877075 7.49991C0.877075 3.84222 3.84222 0.877075 7.49991 0.877075C11.1576 0.877075 14.1227 3.84222 14.1227 7.49991C14.1227 11.1576 11.1576 14.1227 7.49991 14.1227C3.84222 14.1227 0.877075 11.1576 0.877075 7.49991ZM7.49991 1.82708C4.36689 1.82708 1.82708 4.36689 1.82708 7.49991C1.82708 10.6329 4.36689 13.1727 7.49991 13.1727C10.6329 13.1727 13.1727 10.6329 13.1727 7.49991C13.1727 4.36689 10.6329 1.82708 7.49991 1.82708Z"
                                />
                            </svg>
                            определяет разметку сайта;</li>
                        <li class="hero_list_item">
                            <svg width="15px" height="15px" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M0.877075 7.49991C0.877075 3.84222 3.84222 0.877075 7.49991 0.877075C11.1576 0.877075 14.1227 3.84222 14.1227 7.49991C14.1227 11.1576 11.1576 14.1227 7.49991 14.1227C3.84222 14.1227 0.877075 11.1576 0.877075 7.49991ZM7.49991 1.82708C4.36689 1.82708 1.82708 4.36689 1.82708 7.49991C1.82708 10.6329 4.36689 13.1727 7.49991 13.1727C10.6329 13.1727 13.1727 10.6329 13.1727 7.49991C13.1727 4.36689 10.6329 1.82708 7.49991 1.82708Z"
                                />
                            </svg>
                            тестирует готовые приложения и сайты;</li>
                        <li class="hero_list_item">
                            <svg width="15px" height="15px" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M0.877075 7.49991C0.877075 3.84222 3.84222 0.877075 7.49991 0.877075C11.1576 0.877075 14.1227 3.84222 14.1227 7.49991C14.1227 11.1576 11.1576 14.1227 7.49991 14.1227C3.84222 14.1227 0.877075 11.1576 0.877075 7.49991ZM7.49991 1.82708C4.36689 1.82708 1.82708 4.36689 1.82708 7.49991C1.82708 10.6329 4.36689 13.1727 7.49991 13.1727C10.6329 13.1727 13.1727 10.6329 13.1727 7.49991C13.1727 4.36689 10.6329 1.82708 7.49991 1.82708Z"
                                />
                            </svg>
                            пишет техническую документацию;</li>
                        <li class="hero_list_item">
                            <svg width="15px" height="15px" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M0.877075 7.49991C0.877075 3.84222 3.84222 0.877075 7.49991 0.877075C11.1576 0.877075 14.1227 3.84222 14.1227 7.49991C14.1227 11.1576 11.1576 14.1227 7.49991 14.1227C3.84222 14.1227 0.877075 11.1576 0.877075 7.49991ZM7.49991 1.82708C4.36689 1.82708 1.82708 4.36689 1.82708 7.49991C1.82708 10.6329 4.36689 13.1727 7.49991 13.1727C10.6329 13.1727 13.1727 10.6329 13.1727 7.49991C13.1727 4.36689 10.6329 1.82708 7.49991 1.82708Z"
                                />
                            </svg>
                            может изменять и дополнять функционал веб-ресурсов.</li>
                    </ul>
                    <span id="frontend"></span>
            </div>
        </section>

        <section class="frontend">
            <div class="container">
                    <h2>Может ли PHP-программист работать с frontend</h2>
                    <p class="hero_p">
                        PHP-программист обычно согласует действия с другими сотрудниками:
                        дизайнерами, SEO, копирайтерами и фронтенд-разработчиками. Если штат программистов
                        в компании маленький, работодатели могут ставить задачи по фронтенду
                        PHP-программисту. Важно понимать, что это разные специализации.
                        Сам фронтенд-разработчик не работает на PHP, это язык бэкенда.
                    </p>
                    <p class="hero_p">
                        PHP-программист сможет работать с frontend,
                        дополнительно освоив JavaScript, HTML и ряд инструментов визуализации,
                        таких как графические редакторы. А с дополнительными навыками
                        он будет считаться уже fullstack-разработчиком.
                    </p>
                    <span id="fullstack"></span>
            </div>
        </section>
        <section class="fullstack">
            <div class="container">
                <h2>Обязанности fullstack-разработчика</h2>
                <p class="hero_p">
                    Fullstack-разработчик на PHP – это специалист широкого профиля,
                    владеющий инструментами как backend-, так и frontend-разработки.
                    Он выше ценится, но имеет и больший круг обязанностей:
                </p>
                <ul class="hero_list list-reset">
                    <li class="hero_list_item">
                        <svg width="15px" height="15px" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M0.877075 7.49991C0.877075 3.84222 3.84222 0.877075 7.49991 0.877075C11.1576 0.877075 14.1227 3.84222 14.1227 7.49991C14.1227 11.1576 11.1576 14.1227 7.49991 14.1227C3.84222 14.1227 0.877075 11.1576 0.877075 7.49991ZM7.49991 1.82708C4.36689 1.82708 1.82708 4.36689 1.82708 7.49991C1.82708 10.6329 4.36689 13.1727 7.49991 13.1727C10.6329 13.1727 13.1727 10.6329 13.1727 7.49991C13.1727 4.36689 10.6329 1.82708 7.49991 1.82708Z"
                            />
                        </svg>
                        планирует проекты по созданию веб-ресурсов «под ключ»;</li>
                    <li class="hero_list_item">
                        <svg width="15px" height="15px" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M0.877075 7.49991C0.877075 3.84222 3.84222 0.877075 7.49991 0.877075C11.1576 0.877075 14.1227 3.84222 14.1227 7.49991C14.1227 11.1576 11.1576 14.1227 7.49991 14.1227C3.84222 14.1227 0.877075 11.1576 0.877075 7.49991ZM7.49991 1.82708C4.36689 1.82708 1.82708 4.36689 1.82708 7.49991C1.82708 10.6329 4.36689 13.1727 7.49991 13.1727C10.6329 13.1727 13.1727 10.6329 13.1727 7.49991C13.1727 4.36689 10.6329 1.82708 7.49991 1.82708Z"
                            />
                        </svg>
                        пишет коды для сайтов, веб-приложений, их отдельных модулей и элементов;</li>
                    <li class="hero_list_item">
                        <svg width="15px" height="15px" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M0.877075 7.49991C0.877075 3.84222 3.84222 0.877075 7.49991 0.877075C11.1576 0.877075 14.1227 3.84222 14.1227 7.49991C14.1227 11.1576 11.1576 14.1227 7.49991 14.1227C3.84222 14.1227 0.877075 11.1576 0.877075 7.49991ZM7.49991 1.82708C4.36689 1.82708 1.82708 4.36689 1.82708 7.49991C1.82708 10.6329 4.36689 13.1727 7.49991 13.1727C10.6329 13.1727 13.1727 10.6329 13.1727 7.49991C13.1727 4.36689 10.6329 1.82708 7.49991 1.82708Z"
                            />
                        </svg>
                        тестирует и исправляет ошибки кода;</li>
                    <li class="hero_list_item">
                        <svg width="15px" height="15px" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M0.877075 7.49991C0.877075 3.84222 3.84222 0.877075 7.49991 0.877075C11.1576 0.877075 14.1227 3.84222 14.1227 7.49991C14.1227 11.1576 11.1576 14.1227 7.49991 14.1227C3.84222 14.1227 0.877075 11.1576 0.877075 7.49991ZM7.49991 1.82708C4.36689 1.82708 1.82708 4.36689 1.82708 7.49991C1.82708 10.6329 4.36689 13.1727 7.49991 13.1727C10.6329 13.1727 13.1727 10.6329 13.1727 7.49991C13.1727 4.36689 10.6329 1.82708 7.49991 1.82708Z"
                            />
                        </svg>
                        администрирует веб-ресурсы;</li>
                    <li class="hero_list_item">
                        <svg width="15px" height="15px" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M0.877075 7.49991C0.877075 3.84222 3.84222 0.877075 7.49991 0.877075C11.1576 0.877075 14.1227 3.84222 14.1227 7.49991C14.1227 11.1576 11.1576 14.1227 7.49991 14.1227C3.84222 14.1227 0.877075 11.1576 0.877075 7.49991ZM7.49991 1.82708C4.36689 1.82708 1.82708 4.36689 1.82708 7.49991C1.82708 10.6329 4.36689 13.1727 7.49991 13.1727C10.6329 13.1727 13.1727 10.6329 13.1727 7.49991C13.1727 4.36689 10.6329 1.82708 7.49991 1.82708Z"
                            />
                        </svg>
                        пишет техническую документацию;</li>
                    <li class="hero_list_item">
                        <svg width="15px" height="15px" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M0.877075 7.49991C0.877075 3.84222 3.84222 0.877075 7.49991 0.877075C11.1576 0.877075 14.1227 3.84222 14.1227 7.49991C14.1227 11.1576 11.1576 14.1227 7.49991 14.1227C3.84222 14.1227 0.877075 11.1576 0.877075 7.49991ZM7.49991 1.82708C4.36689 1.82708 1.82708 4.36689 1.82708 7.49991C1.82708 10.6329 4.36689 13.1727 7.49991 13.1727C10.6329 13.1727 13.1727 10.6329 13.1727 7.49991C13.1727 4.36689 10.6329 1.82708 7.49991 1.82708Z"
                            />
                        </svg>
                        создает или контролирует наполнение и визуальное оформление сайта;</li>
                    <li class="hero_list_item">
                        <svg width="15px" height="15px" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M0.877075 7.49991C0.877075 3.84222 3.84222 0.877075 7.49991 0.877075C11.1576 0.877075 14.1227 3.84222 14.1227 7.49991C14.1227 11.1576 11.1576 14.1227 7.49991 14.1227C3.84222 14.1227 0.877075 11.1576 0.877075 7.49991ZM7.49991 1.82708C4.36689 1.82708 1.82708 4.36689 1.82708 7.49991C1.82708 10.6329 4.36689 13.1727 7.49991 13.1727C10.6329 13.1727 13.1727 10.6329 13.1727 7.49991C13.1727 4.36689 10.6329 1.82708 7.49991 1.82708Z"
                            />
                        </svg>
                        ведет базы данных, обеспечивает доступ к внешним ресурсам;</li>
                    <li class="hero_list_item">
                        <svg width="15px" height="15px" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M0.877075 7.49991C0.877075 3.84222 3.84222 0.877075 7.49991 0.877075C11.1576 0.877075 14.1227 3.84222 14.1227 7.49991C14.1227 11.1576 11.1576 14.1227 7.49991 14.1227C3.84222 14.1227 0.877075 11.1576 0.877075 7.49991ZM7.49991 1.82708C4.36689 1.82708 1.82708 4.36689 1.82708 7.49991C1.82708 10.6329 4.36689 13.1727 7.49991 13.1727C10.6329 13.1727 13.1727 10.6329 13.1727 7.49991C13.1727 4.36689 10.6329 1.82708 7.49991 1.82708Z"
                            />
                        </svg>
                        отвечает за веб-проект целиком;</li>
                    <li class="hero_list_item">
                        <svg width="15px" height="15px" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M0.877075 7.49991C0.877075 3.84222 3.84222 0.877075 7.49991 0.877075C11.1576 0.877075 14.1227 3.84222 14.1227 7.49991C14.1227 11.1576 11.1576 14.1227 7.49991 14.1227C3.84222 14.1227 0.877075 11.1576 0.877075 7.49991ZM7.49991 1.82708C4.36689 1.82708 1.82708 4.36689 1.82708 7.49991C1.82708 10.6329 4.36689 13.1727 7.49991 13.1727C10.6329 13.1727 13.1727 10.6329 13.1727 7.49991C13.1727 4.36689 10.6329 1.82708 7.49991 1.82708Z"
                            />
                        </svg>
                        ведет переговоры с заказчиками и клиентами.</li>
                </ul>
            </div>
        </section>

        <section class="prospects">
            <div class="conteiner">
                <h2>Перспективы профессии</h2>
                <p class="hero_p">
                    При достижении уровня Senior развитие PHP-разработчика
                    не заканчивается, а приобретает новую направленность.
                    Здесь время выбирать, что вам больше подходит – организовывать
                    людей или работать над разработкой технических проектов.
                </p>
                <p class="hero_p">
                    Можно вырасти в тимлида (руководителя отдела программирования)
                    и далее в проект-менеджера, занимаясь организацией работы команды.
                    Или стать техлидом – ведущим программистом PHP с
                    перспективой вырасти до архитектора программного обеспечения.
                </p>
            </div>
        </section>
    </main>

    <footer class="footer">
        <span class="footer_name">Майданский Александр Аркадьевич</span>
        <span class="footer_group">РИ-210950</span>
    </footer>
</body>
</html>